  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollegeCav</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script>
  $( document ).ready(function() {
   
      $( sub ).click(function( event ) {
   
          alert( "Thanks for visiting!" );
   
      });
   
  });
  </script>

    </head>

    <body>
         <nav class="navbar navbar-default"  role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="./"><Strong><i>CollegeCav</i></strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="./Textbooks">Textbooks</a></li>
            <li><a href="./rateclass">Rate Classes</a></li>
          </ul>
        </li>
      </ul>

            </nav>
      <!-- Docs nav
      ================================================== -->
        <div class="container"> 

          
        <div id="header" class="row text-center">
        <div id="logo">
        <span id="danger">
          <span class="dd animated bounceInDown"><strong style="color:#ef9c00;">T</strong></span>
          <span class="da animated bounceInDown"><strong style="color:#ef9c00;">e</strong></span>
          <span class="dn animated bounceInDown"><strong style="color:#ef9c00;">x</strong></span>
          <span class="dg animated bounceInDown"><strong style="color:#ef9c00;">t</strong></span>
        </span>
        <span id="zone">
          <span class="de animated bounceInDown">b</span>
          <span class="dr animated bounceInDown">o</span>
        </span>
        <span id="zone">
          <span class="zz animated bounceInDown">o</span>
          <span class="zo animated bounceInDown">k</span>
          <span class="zn animated bounceInDown">s</span>
        </span>
        </div>
      </div>

        <!--page header line -->
        <div class="row">
        <div class="col-xs-12"><hr></div>
        </div>
        <!--page header line -->

          <div class ="row">
          <div class="col-xs-5">
                <button class="btn btn-default " data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-plus"></span> Add yours
                </button>
          </div>


          <div class="col-xs-7">
              <form action="#" method="get">
                  
                      <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                      <input type="text"  class="form-control" id="searchTerm" onkeyup="doSearch()"   placeholder = "Search for classes or professors" >
                  
              </form>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add your textbook</h4>
              </div>

              <div class="modal-body">
                <form role="form" method="post" action="/Textbooks" >  
                <div class="form-group">
                   
                    <input type="text" class="form-control" name="title" id="textbooks-title" placeholder="Enter Title" title = "Example: How Business Work " required>
                       
                </div>
                </br>
            
                <div class="form-group">
                   
                    <input type="text" class="form-control" name="classname" id="textbooks-classname" placeholder="Enter classname" title = "Example: Comm 1800 " required>
                </div>
                </br>
            
               
                <div class="form-group">
                    <input type="text" class="form-control" name="edition" id="textbooks-edition" placeholder="Enter edition of the book" pattern ="[0-9]{1,3}" title = "Example: 11th" required>
                </div>
                </br>
            
          
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="professor" id="textbook-professor" placeholder="Enter professor's name" title ="Example: Robert Kemp" required>
                  
                </div>
                </br>
          
                <div class="form-group">
                    <input type="text" class="form-control" name="price" id="rateclass-price" placeholder="Enter Price" pattern ="[0-9]{1,4}" title = "Example: 30" required>
                </div>
                </br>
                
                
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="textbook-email" placeholder="Email address" title = "Email: Hank@virgina.edu" required>
                </div>

              
                <div class="modal-footer">
                <div class="col-lg-4">
                <button type="submit" id = "sub" class="btn btn-primary">Submit</button> 

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
        
        <!--closing the header-->
        <div class="row">
        <div class="col-xs-12"><hr></div>
        </div>
        
        <!-- Datatable -->
        
        <div class = "row">       
        <div class = "col-md-12">
        <table class="table" id="dataTable"> 
          <thead>
              <tr style=background-color:#ef9c00;>

                  <th height = "50">Title</th>
                  <th height = "50">Classname</th>
                  <th height = "50">Edition</th>
                  <th height = "50">Professor</th>
                  <th height = "50">Price</th>
                  <th height = "50">Email</th>
                  <th height = "50">Delete</th>

              </tr>
          </thead>
         
          <% for( var i = 0; i < books.length; i++ ) { %>
                  <tbody>
                  <tr>      
                      <td height ="50"> <%= books[i]["title"] %> </td>
                      <td height ="50"> <%= books[i]["classname"] %> </td>
                      <td height ="50"> <%= books[i]["edition"] %> </td>
                      <td height ="50"> <%= books[i]["professor"] %> </td>
                      <td height ="50"> <%= books[i]["price"] %> </td>
                      <td height ="50"> <%= books[i]["email"]%> </td>
                      <td height ="50"> <a href= "/textbooks/<%=books[i]._id %>/delete"> <button class="btn btn-default btn-lg" type ="button"> Delete </button> </td>
                  </tr>
                  </tbody>

          <% } %>

          </table> 
          </div> 
          </div> <!-- Row -->
        </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="search.js"></script>
        <script type="text/javascript" src="ejs_production.js"></script>

      </body>

  </html>